cypress/videos/search/add.first.result.search.home.shopping.cart.feature.mp4
cypress/screenshots/search/add.first.result.search.home.shopping.cart.feature/Insert products to the shopping cart from the search result on the home page -- Add the first search result for product  'Faded Short Sleeve' (failed).png
package-lock.json
